.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family:Bai Jamjuree,sans-serif ;
}
html{
    scroll-behavior: smooth;
}
.container{
    margin-bottom: 130px;
    margin: auto;
    text-align: center;
}
header .container{
    padding: 130px; 
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;

}
header .bg-header{
    margin-bottom: 80px;
}
h3 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    font-weight: 600;
}
p {
    margin-bottom: 55px;
}
.btns button:first-child{
    width: 225px;
    height: 56px;
    background-color:  hsl(171, 66%, 44%);
    color: white;
    margin-right: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btns button:last-child{
    width: 225px;
    height: 56px;
    background-color:  hsl(233, 100%, 69%);
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.btns button:hover{
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
}

@media (max-width:1440px) {
    header .container{
        background-repeat: no-repeat;
        max-width: 1440px;
    }
}
@media (max-width:376px) {
    .container{
        margin-bottom: 100px ;
    }
    header .container{
        width: 100%;
        padding: 30px;
        text-align: center;
        background-repeat: no-repeat;
        background-image: url(../images/bg-header-mobile.png);
    }
    header .container img{
        width: 100%;
    }
    header .container h3{
        font-size: 2rem;
        font-weight: 600;
        min-width: 80%;
    }
    .btns{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin-left: 50px;       
}
}

/* section-one */
.first-section .content{
    display: flex;
    
}
.first-section .container {
    margin-bottom: 130px;
}
.first-section img{
    width: 110%;
}
@media (max-width:376px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    img{
        margin-bottom: 50px;
        width: 100%;
    }
    .first-section .content{
        display: flex;
        flex-direction: column;
    }
    .text>div {
        text-align: center;
    }
    .text>div h4{
        text-align: center;
        font-size: 1.4rem;

    }
    .text>div p{
        text-align: center;
        font-size: .9rem;

    }

    
}
.text > div{
    text-align: start;
    margin-right: 50px;
}
.text > div:first-child{
        margin-left: 100px;
        align-content: flex-start;

    }
.text > div:not(:first-child){
    margin-top: 40px;
    margin-left: 100px;
}
.text > div h4{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.4rem;
}
/* section-two */
.third-section .container{
    margin-bottom: 130px;
}
.third-section .container div{
    margin: 0 50px;
}
.third-section .container div h4{
    font-size:1.2rem ;
}
@media (max-width:376px) {
    .third-section .container .content {
        display: flex;
        flex-direction: column;
    }
    .third-section .container div h4{
        font-size:1rem ;
    }
  

}
.third-section .container .heading h3 {
    text-align: center;
}
.third-section .container .heading .content p {
    max-width: 200px;
}
.third-section .container .content{
    display: flex;
}
@media (max-width:376px) {

    .forth .icons{
        display: flex;
    flex-direction: column;   
    justify-content: space-between;   
    }
    .forth img {
        width: 60%;
        margin-bottom: 50PX;
    }
    
}
.icons{
    display: flex;
    justify-content: space-between;
    
}
.icons img {
    margin: 0 50px;
}
.forth .container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 130px;
}

.fifth .container{
    justify-content: center;
    margin-bottom: 130px;
}
footer .container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
footer h2,div {
    font-size: .8rem;

}

